table, tr, td {
border-collapse: collapse;
border: 1px solid black
; table-layout: fixed;} 

table {
display:block; 
width: auto;
height:auto;
} 

td{width: 25px;
height: 25px}


img{
    width:auto;
    height:auto;
}

#aniBoat{
    position: relative;
}

#AnimationSection{
    height: 1000px;
}